version: '3.8'

services:
  redis:
    image: redis:8.2
    container_name: redis_with_rdb
    restart: always
    volumes:
      - ./src/main/resources/dump.rdb:/data/dump.rdb
    command: [ "redis-server", "--dir", "/data", "--dbfilename", "dump.rdb" ]
    ports:
      - "6379:6379"