<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apollo Q&A</title>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>Apollo Missions Q&A</h1>

        <form id="query-form">
            <input type="text" name="query" id="query-input" placeholder="Ask about Apollo missions..." required>
            <input type="file" id="image-input" accept="image/*">
            <button type="submit">Ask</button>
        </form>

        <h2>Responses</h2>

        <div style="text-align: center; margin-bottom: 10px;">
            <button class="toggle-btn" data-target="texts-response-column">Display Text Search</button>
            <button class="toggle-btn" data-target="questions-response-column">Display Question Search</button>
            <button class="toggle-btn" data-target="summaries-response-column">Display Summary Search</button>
            <button class="toggle-btn" data-target="images-text-response-column">Display Image-Text Search</button>
            <button class="toggle-btn" data-target="images-response-column">Display Image Search</button>
        </div>

        <div class="container">
            <div class="column" id="texts-response-column">
                <h3>Text-Based Search</h3>
                <div id="texts-response"></div>
            </div>
            <div class="column" id="questions-response-column" style="display: none">
                <h3>Question-Based Search</h3>
                <div id="questions-response"></div>
            </div>
            <div class="column" id="summaries-response-column" style="display: none">
                <h3>Summary-Based Search</h3>
                <div id="summaries-response"></div>
            </div>
            <div class="column" id="images-text-response-column" style="display: none">
                <h3>Image-Text-Based Search</h3>
                <div id="images-text-response"></div>
            </div>
            <div class="column" id="images-response-column" style="display: none">
                <h3>Image-Based Search</h3>
                <div id="images-response"></div>
            </div>
        </div>

        <footer>
            <p>Powered by <img src="/images/redis-logo.png" alt="Redis Logo"></p>
        </footer>

        <script src="/js/script.js"></script>
    </body>
</html>